

* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body {
	height:auto;
	min-width:320px;
	background: #fff url(images-6/background.jpg) center no-repeat;
	background-size: cover;
	
}

.wrapper {
	box-sizing: border-box;
	max-width:1024px;
	margin:0 auto;
	padding: 0 60px;
}

header {
	position:relative;
	min-height: 280px;
}

.logo {
	position: absolute;
	display: block;
	left:50%;
	top:50%;
	margin-left:-70px;
	margin-top:-70px;
	width:140px;
	border-radius: 50%;
	background-color: #fff;
	font-family:Dorsa,sans-serif;
	font-size: 60px;
	line-height: 140px;
	height: 140px;
	font-weight: normal;
	text-align:center;
	text-transform: uppercase;
	text-decoration: none;
	/*transition: color 1s ease-in-out;*/
}

.logo:hover {
	color:red;
	/*transform:rotate(360deg) translate(-50%,-50%);
	background-color: #000;*/
}

.menu_block {
	display:inline-block;
	padding-top:124px;
	text-align:center;
	color:#fff;
}
.menu_left{
	position:relative;
	display: block;
	float: left;
	margin-top: -3px;
	margin-right: 41px;
	width:100%;
	box-sizing:border-box;
	list-style: none;
	font-size:28px;
	font-family: Pathway Gothic One,sans-serif;
}

.menu_right {
	display: block;
	float: right;
	margin-top: -32px;
	margin-left: 146px;
	width:100%;
	box-sizing:border-box;
	list-style: none;
	font-size:28px;
	font-family: Pathway Gothic One,sans-serif;

}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

.menu_left .menu_item {
	display: block;
	float:left;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}

.menu_right .menu_item {
	display: block;
	float:right;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}
/*
.menu:after {
	content:"";
	display:block;
	clear:both;
	float:none;
}*/

.submenu {
	position: absolute;
	line-height: 32px;
	color:#bec2cb;
	text-align: center;
	display: none;
	list-style:none;
	top: 50px;
	left: 8px;
	background-color: white;
	border: 1px;
	border-radius: 10%;
	padding:0;
	min-width:95px;
}

.submenu:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -5px;
    left: 40px;
}

.submenu li {
	text-align: center;
}

.menu_item:hover>.submenu {
    display: block;
}

.menu_item:hover {
	color:#000;
}

main {
	margin-top: 50px;	
}

main .wrapper {
	background-color: #fff;
	padding:60px 60px;

}

h2 {
	margin-top:40px;
	font-size:23px;
	font-family: 'Pathway Gothic One', sans-serif;
	color: #606b83;
}

#container {
	display: flex;
	flex-flow: wrap;
	width: 904px;
	margin: auto;

}

#container figure {
	box-sizing: border-box;
	position: relative;
	margin: 20px 6px;
	overflow: hidden;
    width: 288px;
    height: 155px;
    cursor: pointer;

}

#container figure img {
	position: relative;
	display: block;
	max-width: 100%;
	height: auto;
	z-index: 1;
}


figure:before {
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 2
}

figure:after {
	content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 33px;
    height: 33px;
    transform: translate(-50%, -50%);
    background: url(images-6/loop.png) center no-repeat;
    -webkit-background-size: 33px 33px;
    background-size: 33px 33px;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 3
}

figure:hover:after, figure:hover:before{
    opacity: 1;
}

.bottom_block {
	background-color: #30455b;
	color: #fff;
	font-family: Open Sans Condensed, sans-serif;
	font-size: 16px;
	font-weight: normal;
	width:1024px;
	height: 130px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.bottom_block ul {
	list-style: none;
}

.sub_item li {
	color: #fff;
	font-family: Open Sans Condensed, sans-serif;
	font-size: 12px;
}

footer {
	display: block;
	padding: 25px 0;
	text-align: center;
}

.socials {
  	margin: auto;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 196px;
    justify-content: space-around;
    align-items: center;
}

.socials li>a{
	display: inline-block;
    width: 40px; height: 40px;
    background-repeat: no-repeat;
}

.socials li>a:hover {
	opacity: 0.5;
}

.bg_twitter>a {
    background: url(images-6/css_sprites.png) -15px -15px;
}

.bg_facebook>a {
    background: url(images-6/css_sprites.png) -85px -15px;
}

.bg_google>a {
    background: url(images-6/css_sprites.png) -155px -15px;
}

.bg_Linkedin>a {
    background: url(images-6/css_sprites.png) -225px -15px;
}

.social_networks p {
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-top: 20px;
}
.top_button {
	position: fixed;
	bottom:0;
	right:0;
}

@media screen and (max-width: 768px) {
.wrapper {
	box-sizing: border-box;
	max-width: 768px;
	margin:0 auto;
	padding: 0 60px;
}

.logo {
	left:50%;
	top:50%;
	margin-left:-70px;
	margin-top:-90px;
	width:102px;
	border-radius: 50%;
	line-height: 102px;
	height: 102px;
	font-size: 43px;
}

.menu_block {
	display: flex;
/*	flex-direction: column;*/
}


.menu_left {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    width: 100%;
    max-width: 224px;
    margin-top: -8px;
    padding: 0px 142px;
    font-size : 24px;
}
.menu_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    width: 100%;
    max-width: 224px;
    padding: 10px 0px;
    margin-left: -183px;
    margin-top: 90px;
    font-size : 24px;
}

.submenu {
	background-color: #f2f2f3;
	color: #8f96a5;
	line-height: 22px;
	font-size: 16px;
	min-width: 60px;
	top: 32px;
	left: 22px;
	z-index: 2;
}

.submenu:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3px 3px 3px;
    border-color: transparent transparent #f2f2f3 transparent;
    position: absolute;
    top: -3px;
    left: 28px;
 }

#container {
	display: flex;
	flex-flow: wrap;
	max-width: 768px;
	margin: auto;
}

#container figure {
	padding: 30px 0;
/*	margin: 0 auto;*/
    width: 332px;
    height: 182px;
    overflow: visible;
}

#container figure img {
	width: 100%;
	height: auto;

}

figure:before {
	content: "";
	top: 28px;
}

figure:after {
	content: "";
	transform: translate(-50%, 50%);
}

.bottom_block {
	max-width: 768px;
}

}




@media screen and (max-width: 480px){
.wrapper {
	box-sizing: border-box;
	max-width: 480px;
/*	margin:0 auto;*/
	padding: 0 40px;
}

header {
	min-height: 240px;
}

.logo {
	left:50%;
	top:50%;
	margin-left:-40px;
	margin-top:-120px;
	width:80px;
	border-radius: 50%;
	line-height: 80px;
	height: 80px;
	font-size: 33px;
}

.menu_block {
	display: flex;
	margin-top: 124px;
/*	flex-direction: column;*/
}


.menu_left {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    width: 100%;
    max-width: 224px;
    margin-top: -64px;
    padding: 0px 52px;
    font-size : 20px;
}
.menu_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    width: 100%;
    max-width: 224px;
    padding: 10px 0px;
    margin-left: -215px;
    margin-top: 55px;
    font-size : 20px;
}

.submenu {
	background-color: #f2f2f3;
	color: #8f96a5;
	text-align: right;
	line-height: 18px;
	font-size: 14px;
	min-width: 50px;
	top: 28px;
	left: 22px;
	z-index: 2;
}

.submenu:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3px 3px 3px;
    border-color: transparent transparent #f2f2f3 transparent;
    position: absolute;
    top: -3px;
    left: 23px;
 }

#container {
	display: flex;
	flex-flow: wrap;
	max-width: 480px;
	margin: auto;
}

#container figure {
	padding: 30px 0;
	margin: 20px -20px;
	overflow: visible;
    width: 408px;
    height: 222px;
}

#container figure img {
	max-width: 100%;
	height: auto;
}

figure:before {
	content: "";
	top: 28px;
}

figure:after {
	content: "";
	transform: translate(-50%, 50%);
}

.bottom_block {
	max-width: 480px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	font-size: 14px;
}

.bottom_block .item {
	max-width: 130px;
	padding-right: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.item_contact{
	padding-right:20px;
	max-width:390px;
	width:100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: flex-start;
}

.item_contact li{
	display: flex;
	flex-direction: row;
	align-self: flex-start;
	padding: 0 14px;
}

.sub_item {
	display: flex;
	flex-direction: row;
	padding: 0 10px;
	position: relative;
}

.tel:before {
	content:" ";
	position: absolute;
	background: url(images-6/phone.png) no-repeat;
	width: 10px;
	height: 20px;
	left: 12px;
}

.email:before{
	content: " ";
	position: absolute;
	background: url(images-6/email.png) no-repeat;
	width: 20px;
	height: 15px;
	right: 97px;
}

.socials {
	margin: auto;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 132px;
    justify-content: space-around;
    align-items: center;
}

.socials li>a{
	display: inline-block;
    width: 50px; height: 50px;
    background-repeat: no-repeat;
}

.bg-twitter>a {
    background: url(images-6/css_sprites_1.png) -10px -10px;
}

.bg-facebook>a {
    background: url(images-6/css_sprites_1.png) -56px -10px;
}

.bg-google>a {
    background: url(images-6/css_sprites_1.png) -148px -10px;
}

.bg-linkedin>a {
    background: url(images-6/css_sprites_1.png) -102px -10px;
}


.social_networks p {
	font-size: 9px;
	margin-top: 10px;

}




