* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}


body {
	height:auto;
	min-width:320px;
	background: #fff url(images/background.jpg) center no-repeat;
	margin: 0 auto;
	background-size: cover;
	font-family: Arial, sans-serif;
	
}


/*header {
	min-height: 280px;
}*/

.nav {
	list-style: none;
	padding: 48px 0;
	margin-bottom: 0;
	font: 28px Pathway Gothic One,sans-serif;
	color: #fff;
	position: relative;
	align-items: center;
	width: 100%;
}

.nav>.nav-item{
	display: inline-block;
	position: relative;
}

.nav>.nav-item a{
	color:#fff;
}

.nav-item a:hover {
	color:#263555;
	text-decoration: none;
}

.nav .mobile-basis { /* Used on mobile to break the menu into 2 rows */
	flex-basis: 100%;
	display: none;
}

.nav-item.desktop_logo a {
	color: #9aa1b0;
	margin: 0 auto;
}

a.logo {
	display: block;
	width: 140px;
	color: #9aa1b0;
	background-color: #fff;
	border-radius: 50%;
	font:60px Dorsa,sans-serif;
	line-height: 140px;
	height: 140px;
	top: 60px;
	font-weight: normal;
	text-align:center;
	text-transform: uppercase;
	text-decoration: none;
	
}

a.logo:hover {
	color:red;
	text-decoration: none;
}

.mobile_logo {
	width: 100%;
	margin-top: 25px;
	display: none;
}

.mobile_logo a.logo {
	margin: 0 auto;
}

.submenu {
	position: absolute;
	line-height: 23px;
	/*color:#868d9d;*/
	text-align: center;
	display: none;
	list-style:none;
	top: 40px;
	left: 50%;
	margin-left: -39px;
	background-color: white;
	border: 1px;
	border-radius: 10%;
	padding:0;
	min-width:78px;
	z-index: 2;
}

.submenu:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -5px;
    left: 34px;
}

.submenu>.submenu_item a {
	text-align: center;
	color:#868d9d;
	font-size: 20px;
}

.nav-item:hover>.submenu {
    display: block;
}

.nav-item:hover {
	color:#000;
}


.wrapper {
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #fff;
	padding: 100px 60px;
}

.wrapper h2 {
	font: 28px 'Pathway Gothic One', sans-serif;
	color: #606b83;
	margin-bottom: 50px;
}

/** Tour Styling */
.tour {
	padding-bottom: 40px;
}

	.tour .text {
	/*	width: 294px;*/
	/*	padding-left: 148px;*/
		color: #878989;
	}
		.tour .text .price {
			font: 10px Arial, sans-serif;
		}
			.tour .text .price span {
				font: 13px Arial, sans-serif;
				color: #4d9ccd;
			}

		.tour img {
			width: 100%;
		}

		.tour .text1 {
			font: 12px Arial, sans-serif;
			/*	padding-bottom: 20px;
			*/}


button {
	background-color: #fcfafa;
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #606b83;
	padding: 3px 6px;
	text-align: center;
	border-radius: 5px;
}

label, select, span{
	font: 10px Arail, sans-serif;
	color: #606b83;
	display: block;
}
span {
	display: inline-block;
	text-transform: uppercase;
}

.browse{
	margin-bottom: 20px;
}

.search span {
	color: #4d9ccd;
	text-transform: none;
}

.destination, .departing, .search .price {
	margin-bottom: 24px;
}

.search button, .browse button {
	margin-top: 32px;
}

.select {
	width: 100%;
	padding: 5px;
	background-color: #fcfafa;
	appearance : none;
	-webkit-appearance :none;
	-moz-appearance : none;	
	border-radius: 0;
}

.select::-ms-expand {
	display: none;
}

.browse .select_arrow {
	position: absolute;
	border: 8px solid transparent; 
	border-bottom: 0;
	right: 20px;
}
.browse .select_arrow:nth-child(1) {
  top: 110px;
  border-top-color: #b0b4bf;
}
.browse .select_arrow:nth-child(2) {
  top: 107px;
  border-top-color: #fff;
}

.destination .select_arrow,
.departing .select_arrow,
.price .select_arrow ,
.duration .select_arrow {
	position: absolute;
	border: 8px solid transparent; 
	border-bottom: 0;
	right: 10px;
}

.destination, .departing, .price, .duration{
	position: relative;
}

.destination .select_arrow:nth-child(1),
.departing .select_arrow:nth-child(1),
.price  .select_arrow:nth-child(1),
.duration  .select_arrow:nth-child(1) {
  top: 25px;
  border-top-color: #b0b4bf;
}
.destination .select_arrow:nth-child(2),
.departing .select_arrow:nth-child(2),
.price  .select_arrow:nth-child(2),
.duration  .select_arrow:nth-child(2) {
  top: 22px;
  border-top-color: #fff;
}


.bottom_block {
	justify-content: space-around;
	align-items: center;
	background-color: #30455b;
	color: #fff;
	font: 16px Open Sans Condensed, sans-serif;
	padding: 40px 0;
}

.bottom_block ul {
	list-style: none;
}
	.bottom_block .item ul li {
		margin: 0 0 5px 0;
	}
		.bottom_block .item ul li:last-child {
			margin-bottom: 0;
		}
		.bottom_block .item ul li a {
			color: #FFFFFF;
		}

.sub_item li {
	color: #fff;
	font-family: Open Sans Condensed, sans-serif;
	font-size: 12px;
}

.socials {
  	margin: auto;
    padding: 25px 0;
    list-style: none;
    display: flex;
    width: 100%;
    max-width: 196px;
    justify-content: space-around;
    align-items: center;
}

.socials li>a{
	display: inline-block;
    width: 40px; height: 40px;
    background-repeat: no-repeat;
}

.socials li>a:hover {
	opacity: 0.5;
}

.bg_twitter>a {
    background: url(images/css_sprites.png) -15px -15px;
}

.bg_facebook>a {
    background: url(images/css_sprites.png) -85px -15px;
}

.bg_google>a {
    background: url(images/css_sprites.png) -155px -15px;
}

.bg_Linkedin>a {
    background: url(images/css_sprites.png) -225px -15px;
}

.policy p {
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin: 20px auto;
}

.top_button {
	position: fixed;
	bottom:0;
	right:0;
}

@media screen and (max-width: 768px){

	.nav-item.desktop_logo{
		display: none;
	}

	.mobile_logo {
		display: block;
	}

	.nav {
		display: flex;
		flex-flow: row wrap;
		padding: 48px 0 0;
	}

	.nav-item {
		padding: 0 34px 20px;
	}
	.nav .mobile-basis {
		display: block;
	}
}
	

@media screen and (max-width: 480px){

.tel:before {
	content:" ";
	position: absolute;
	background: url(images/phone.png) no-repeat;
	width: 10px;
	height: 20px;
	left: 3px;
	top: 3px;
}

.tel span {
	display: none;
}

.email:before{
	content: " ";
	position: absolute;
	background: url(images/email.png) no-repeat;
	width: 20px;
	height: 15px;
	right: 109px;
	top: 3px;
}

}








